html {
    overflow: -moz-hidden-unscrollable;

}

.main-page {

    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}

.element::-webkit-scrollbar { width: 0; }

.parallax-section {
    position: relative;
    width: 100%;
    height: max-content;
    overflow: hidden;
}

.parallax-section::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center no-repeat;
}

.parallax-section_1::before {
    background-image: url(../imag/Design-and-architecture_img_header-bg.jpeg);
}

.parallax-section_2::before {
    background-image: url(../imag/parallax-bg.jpeg);
}

body {


    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

.top_menu {
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_menu__logo--img {
    padding: 20px;
    display: flex;
}

.top_menu__logo--title {
    padding-left: 20px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.top_menu__nav--list {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}

.nav_list {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 35px;
}

.nav_list:hover {
    color: #14B9D5;
}

.top_menu__search {
    padding: 24px;
    background: black;
}

/*============================================================*/


.header_background {
    /*height: 100%;*/
    height: max-content;
    background: #fff url("../imag/header-background.jpg") 0 0 /100% no-repeat;
    background-size: cover;
    }

.header_content {
    display: flex;
    justify-content: center;
    }

.header_content__text {
    padding-top: 164px;
    padding-bottom: 34px;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}
.header_content__button {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    padding-bottom: 57px;
}

.header_content__button a {
    width: 170px;
    padding: 16px;
    margin: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
}

.header_content__button--green {
    background: #89CA62;
}

.header_content__button--blue {
     background: #14B9D5;
}

/*========================================*/

.popular--title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding: 50px 50px;
}


/*========================================*/



.arya_popular {

    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 46px;
}

.simple {
    display: flex;
    flex-direction: column;
}


/*.arya_popular__section {*/
/*    margin: 15px;*/
/*}*/


.arya_popular__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
    padding: 20px;
    background: #ffffff;
    margin-bottom: 28px;
}


/*========================================*/


.wrapper_background__popular {

/*    background: url("../imag/Design-and-architecture_img_header-bg.jpeg") 50%/cover no-repeat fixed;*/
}


/*========================================*/
.wrapper_background__most-popular {
    height: 588px;
    background: #fff url("../imag/Layer 4 1.jpg") 50%/cover no-repeat;
}

.most-popular__content {
    margin: 0 auto;
    width: 1170px;
    height: 588px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.most-popular__content--title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 106px auto auto;
    /*margin-top: 106px;*/
    /*background: #90bce7;*/
    
}

.most-popular__content--line {
    height: 3px;
    width: 60px;
    background: #18B4CF;
    margin: auto;

}

.most-popular__content--subtitle {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-column-gap: 58px;*/
    /*width: 50%;*/
    align-items: center;
    justify-items: center;
    padding-bottom: 185px;

    /*background: #e79393;*/
}


.most-popular__content--subtitle li {
    padding: 0 30px;
    text-align: center;
}

/*========================================*/

/*.parallax_bg {*/
/*    background: url("../imag/parallax-bg.jpeg") 50%/cover no-repeat fixed;*/
/*}*/


/*========================================*/




.top-rated__gallery {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.top-rated__gallery img {
    width: 100%;
}


/*========================================*/



.wrapper_hot_news {
    /*height: 1683px;*/
}



.popular_gallery {
    min-height: 100%;
    margin: 0 auto;
    width: 1170px;
    padding-bottom: 77px;
    display: grid;
    grid-template-rows: minmax(200px, 1fr);
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: 30px;
    justify-items: start;
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8"

}


.popular_gallery__content--1 {
      grid-area: item1;
}

.popular_gallery__content--2 {
    /*height: initial;*/
    grid-area: item2;
}

.popular_gallery__content--3 {
    /*height: max-content;*/
    grid-area: item3;
}

.popular_gallery__content--4 {
    grid-area: item4;
}

.popular_gallery__content--5 {
    grid-area: item5;
}

.popular_gallery__content--6 {
    grid-area: item6;
}

.popular_gallery__content--7 {
    grid-area: item7;
}

.popular_gallery__content--8 {
    grid-area: item8;
}

/*-----------------------------------------*/

.popular_gallery> * {
    background: #F9F7F7;
}


.content__title {
    align-self: center;
  }

.content__title--desc {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.content__title--text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding: 0 15px 15px ;
}

.content__title * {
    text-align: right;
}


.popular_gallery img {
    width: 100%;
    height: max-content;
       }

.popular_gallery__content--1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr ;
}


.popular_gallery__content--2 {

}


.popular_gallery__content--3 {

}


.popular_gallery__content--4 {

}

.popular_gallery__content--5 {

}

.popular_gallery__content--6 {

}

.popular_gallery__content--7 {

}

.popular_gallery__content--8 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
   }


/*==========================================*/


footer {
    background: #000;
}


.footer {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    align-self: center;
}

.wrap_footer__copyright {
    text-align: left;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 30px 0;

}









